@page 
@model Disaster.Pages.Shared.IndexModel
@{
}


<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Disaster Companion</title>

    <link rel="stylesheet" href="styles.css">

</head>



<body>

    <header>
        <img id="logo" src="https://static.vecteezy.com/system/resources/previews/011/173/336/original/house-restore-from-disaster-logo-template-home-fire-with-leaf-and-gear-icon-free-vector.jpg" alt="logo">

        <h1 id="gradient">Disaster Companion</h1>

    </header>  



    <nav>
        <a asp-page="/Index">Home</a>
        <a asp-page="/About">About</a>

    </nav>

    <main>

        <section class="about-section">

            <div class="container">

                <h2>About Disaster Companion</h2>

                <p class="white">

                    Introducing the Disaster Companion, an innovative solution to help communities affected by

                    historical disasters. This web-based application aims to assist individuals visiting locations

                    notorious for their historical catastrophes. Users can easily input their personal information,

                    including name and location, to ensure they know the disasters at the location they are at.

                </p>

                <p class="white">

                    The app's primary goal is to streamline disaster recovery efforts by providing crucial data to

                    our database. By registering their presence in such sensitive areas,
                    users

                    contribute to a comprehensive database that facilitates efficient rescue operations and support

                    distribution during emergencies which are in implementation.

                </p>

                <p class="white">

                    Moreover, Disaster Companion goes beyond just data collection. It also offers valuable
                    assistance

                    and support when used properly. People could develop methods to prepare for the disasters before hand and take thier own responsibility.



                </p>

                <p class="white">

                    With Disaster Companion, residents can have peace of mind, knowing they have taken proactive

                    steps to safeguard themselves and their community. The app stands as a reliable companion,
                    committed

                    to providing assistance and facilitating recovery during times of adversity.

                </p>

            </div>

        </section>
    </main>



    <footer>

        <p>&copy; 2023 Disaster Companion. All rights reserved.</p>

    </footer>



</body>



